<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/home">TechHub</a>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item search-bar">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchQuery"
          (keyup)="searchProducts()"
        />
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>