<h1 class="modal-title text-center mb-4">Confirm Your Order</h1>
<div class="modal-body">
  <ul class="list-unstyled">
    <li *ngFor="let item of data.cartItems">
      <img [src]="'./assets/uploaded_images/' + item.image" alt="{{ item.productName }}" class="product-image" />
      <div class="product-details">
        <span class="fw-bold">{{ item.productName }}</span>
        <p class="mb-0">{{ item.quantity }} x {{ item.price | currency:'PHP':'symbol':'1.2-2' }}</p>
        <div class="price-info">
          <span>Price: {{ item.price | currency:'PHP':'symbol':'1.2-2' }}</span>
          <span>Total: {{ item.quantity * item.price | currency:'PHP':'symbol':'1.2-2' }}</span>
        </div>
      </div>
    </li>
  </ul>
  <p class="fw-bold text-primary mt-3">Total Price: {{ data.totalPrice | currency:'PHP':'symbol':'1.2-2' }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="dialogRef.close()">Cancel</button>
  <button class="btn btn-primary" (click)="confirmOrder()">Confirm Order</button>
</div>