<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/userhome">TechHub</a>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item search-bar">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchQuery"
          (keyup)="searchProducts()"
        />
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/usercart">
          <i class="bi bi-cart"></i>
          <span *ngIf="cartItemCount > 0" class="badge">{{ cartItemCount }}</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="profileDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
          <li>
            <a class="dropdown-item disabled">
              <i class="bi bi-person"></i> {{ currentUsername }}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
